@font-face {
    font-family: 'Almendra';
    src: url('fonts/almendra/AlmendraSC-Regular.otf');
}

@font-face {
    font-family: 'triforce';
    src: url('fonts/Triforce.ttf');
}

body {
	background-color: rgb(104, 187, 285);
	padding : 10px;
	border : 1px solid black
	}

#header {
	text-align : center;
	
	font-family: 'triforce', Verdana;
}

h1 {font-size: 3.7em;}
#right-box h2 {font-family: 'Almendra', Verdana;
	font-size:3em;
}

img { margin-left : 30%;
	
}


#container {
	width : 100%;
	margin-top : 10px;
	margin-bottom : 30px;
	padding : 10px;
	height: 100%
	


	}

	#left-box {
		float: left;
		background-color: rgb(9, 30, 45);
		color : white;
		padding: 10px;
		display: inline-block;
		height : 100%;
		width :20%;
		font-size: 1.6em;
		padding-bottom : 200px


		}
.catchphrase {text-align:center}

#left-box ul p, #left-box ol p {text-decoration:underline}

	#right-box {

		padding: 10px;
		margin-left: 10px;
		height: 100%;
		width : 77%;
		display: inline-block;
		;


	}

		#experiences-box {
			background-color: white;
			padding: 10px;
			margin: 10px;
			}

			.experience {
				padding: 10px;
				margin-bottom: 10px;
				background-color : #ededed;
			}

		#studies-box {
			background-color: white;
			padding: 10px;
			margin: 10px;
			}

			.study {
				padding: 10px;
				margin-bottom: 10px;
				background-color : #ededed;
			}



#footer {
	clear : both;
	position : relative;
	bottom : 10px;
	font-size:1.3em;
	text-align:center;
	}

div {border: 1px solid black}